


.header{
    padding: 26px 0;
    display: flex;
    justify-content: center;
    border: 1px solid #000;
    background-color: var(--primary-color);

    & h1{
        color: #FFF;
        font-size: 24px;
    }
}